.beer-list-element {
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 
				0 3px 1px -2px rgba(0,0,0,.2), 
				0 1px 5px 0 rgba(0,0,0,.12);
	margin-bottom: 10px;
}

.beer-type-container {
	max-height: 80vh;
	position: fixed;
	overflow-y: scroll;
	width: inherit;
}

.type-link {
	text-decoration: none;
}

.type-element {
	cursor: pointer;
	max-width: 300px;
	margin: 0 auto;
}

.type-element:hover {
	background-color: #eee;	
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 
				0 3px 1px -2px rgba(0,0,0,.2), 
				0 1px 5px 0 rgba(0,0,0,.12);
}