{% extends "base.html" %}
{% block title %}
    {{location}}
{% endblock %}

{% block content %}
    {% for beer in beerList %}
        <ul class="demo-list-item mdl-list">
            <li class="mdl-list__item" style="{{'background-color: ' + beer.currentColor }}">
                <span class="mdl-list__item-primary-content">
                    {{beer.name}}
                    <br />
                    {{beer.ppv}}
                    <br /> 
                    {{beer.currentType}}
                </span>
            </li>
        </ul>
    {% endfor %}
{% endblock %}